{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
{#<form action="" name="trip" method="post" enctype="multipart/form-data" class="form-horizontal">#}
{#        title#}
{#    <div class="row form-group">#}

{#        <div class="row form-group">#}
{#            <div class="col col-md-3">#}
{#                <label for="title" class=" form-control-label">Category</label>#}
{#            </div>#}
{#            <div class="col-12 col-md-9">#}
{#                <input type="text" name="trip[category]" id="keywords" class="form-control" value="{{ trip.category }}">#}
{#                <small class="form-text text-muted"></small>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col col-md-3">#}
{#            <label for="title" class=" form-control-label"> Title</label>#}
{#        </div>#}
{#        <div class="col-12 col-md-9">#}
{#            <input type="text" name="trip[title]" id="title" class="form-control" value="{{ trip.title }}">#}
{#            <small class="form-text text-muted"></small>#}
{#        </div>#}
{#    </div>#}

{#    #}{#        keywords#}
{#    <div class="row form-group">#}
{#        <div class="col col-md-3">#}
{#            <label for="title" class=" form-control-label">Keywords</label>#}
{#        </div>#}
{#        <div class="col-12 col-md-9">#}
{#            <input type="text" name="trip[keywords]" id="keywords" class="form-control" value="{{ trip.keywords }}">#}
{#            <small class="form-text text-muted"></small>#}
{#        </div>#}
{#    </div>#}

{#    #}{#        Descriptions#}
{#    <div class="row form-group">#}

{#        <div class="col col-md-3">#}
{#            <label for="title" class=" form-control-label">Description</label>#}
{#        </div>#}
{#        <div class="col-12 col-md-9">#}
{#            <input type="text" name="trip[description]" id="description" class="form-control" value="{{ trip.description }}">#}
{#            <small class="form-text text-muted"></small>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row form-group">#}

{#        <div class="col col-md-3">#}
{#            <label for="images" class=" form-control-label">Images</label>#}
{#        </div>#}
{#        <div class="col-12 col-md-9">#}
{#            <select id="trip_images" name="trip[images][]" class="form-control" multiple="multiple">#}
{#                {% for image in images %}#}
{#                <option value="{{ image.id }}" {{ image in trip.images ? "selected" : "" }}>{{ image.image }}</option>#}
{#                {% endfor %}#}
{#            </select>#}
{#            <small class="form-text text-muted">Select Images by Control + Click</small>#}
{#        </div>#}
{#    </div>#}


{#    #}{#        Price#}
{#    <div class="row form-group">#}

{#        <div class="col col-md-3">#}
{#            <label for="title" class=" form-control-label">Price</label>#}
{#        </div>#}
{#        <div class="col-12 col-md-9">#}
{#            <input type="text" name="trip[price]" id="price" class="form-control" value="{{ trip.price }}">#}
{#            <small class="form-text text-muted"></small>#}
{#        </div>#}

{#    </div>#}
{#    <div>#}
{#        <input type="submit" class="btn btn-primary floatright" value="{{ button_label|default('Save') }}">#}
{#    </div>#}
{#    <div style="clear: right;"></div>#}
{#    <br>#}
{#</form>#}