{% extends('admin/homeBase.html.twig') %}

{% block body %}
    {% include('home/User/user-upper.html.twig') %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Commented At</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <th>{{ comment.subject }}</th>
                        <th>{{ comment.rating }}</th>
                        <th class="text-truncate">{{ comment.comment }}</th>
                        <th>{{ comment.commentedAt |date("m/d/Y") }}</th>
                        <th>{{ comment.status ? "Visible" : "Hidden" }}</th>
                        <th>{{ include('admin/admin/comment/_delete_form.html.twig') }}</th>
                        <th><a href="{{ path('user-profile-comment-edit', {'id' : comment.id}) }}" class="btn btn-primary" style="text-transform:lowercase;">Edit</a></th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% include('home/User/user-lower.html.twig') %}
{% endblock %}